
<br/>
<footer class="h-10 bottom-0 bg-gray-800">
    <hr/>
    <p class="bg-gray-800">
        Welcome to <b><%= APP_NAME %></b>
        v.<b><%= APP_VERSION %></b>  <br/>
        <%= APP_PERMISSIONS %>
        <%= link_to '🧑🏻‍💻 Code', APP_CODE, target: '_blank' %>
        <%= link_to(LICENSE_URL, target: '_blank') do %>⚖️ LICENSE<% end %>
    </p>

</footer>
