<!DOCTYPE html>
<html>
  <head>
    <title>Ror7HtmxSampleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- note this is NEEDED or it wont wotk -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <header
      <%= render 'layouts/header' %>
      <div class="body bg-gray-600" >
        <!-- test
        <button class="bg-sky-500 hover:bg-sky-700">
          Save changes
        </button>
        -->
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
